@import url(./Filter/Filter.module.css);
@import url(./ContactList/ContactList.module.css);
@import url(./Phonebook/Phonebook.module.css);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
